.about-component {
    .card {
        height: 100%;
        
        .card-title {
            color: #333;
        }
        
        .card-subtitle {
            font-size: 0.9rem;
        }
    }
}
