.contact-component {
    form {
        margin-bottom: 2rem;
    }

    .form-control {
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
    }

    .list-unstyled {
        line-height: 1.8;
    }
}
